@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-family:'Roboto',sans-serif!important;}
body {margin: 0;padding: 0;background: #FFF;overflow-x: hidden;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#444444!important;}
a{text-decoration:none;color:#000000;}a:hover{text-decoration:none;cursor:pointer;}a:active, a:focus{text-decoration:none;}button{transition: all .3s ease-in-out;outline: none!important;}.btn {margin:2em auto 4em;border-radius: 40px;background-color: #FF9800;}
.button{cursor:pointer!important;color: #FF9800;background-color: #FF9800;border: 3px solid #FF9800;border-radius: 30px;}.button:hover{background-color: #5c5c5c;border: 3px solid #FF9800;} .button:active {box-shadow: inset 0 1px 1px 0 #2f2f2f;background-color: #FF9800;border: 3px solid #FF9800;}ul, li {padding:0;margin: 0 ;list-style: none;}.t-color{color: #FF9800!important;margin:0;}
#bloc-1,#bloc-2,#bloc-3,#bloc-4,#bloc-5,#bloc-6,#bloc-8,#bloc-9{text-align: center!important;}#bloc-1,#bloc-3,#bloc-4 {padding-top:100px!important;padding-bottom:100px!important;}
.bloc {width:100%;clear:both;background: 50% 50% no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;position:relative;}
/* bloc-0 */.bloc-0{padding:1em;}#logo{vertical-align:middle;}
/* bloc-1 */.logo{padding-bottom: 1.5em;}#bloc-1{z-index: 2;}.text-box-1{text-align:center;}.text-1{font-weight: 500;} .box-1{display:inline-block;margin-top: 1.5em;}
/* bloc-2 */.space-comments{line-height: 30px;padding-top:1em;text-align: center;color:#0063B1;cursor: default;}.text-box-2{cursor:default;line-height: 30px;display:flex;max-width:1200px;margin:auto;}
.text-box-2 article{padding: 15px 13px 3px 13px;}
.text-box-2 article:hover{padding: 15px 13px 3px 13px;background-color: rgba(0, 100, 177, 0.3);color:black;border-radius: 20px;}
.box-2{padding:auto;}.bi-icon{color:#0063B1!important;}.text-2{line-height: 35px;padding-bottom:3em!important;}#bloc-2{margin-top:4em!important;margin-bottom:5em!important;}

/* bloc-3 */#bloc-3 h2 {padding-bottom: 1em;}.box-3{background-color:#44444481;color:white;padding: 50px!important;width: 750px;margin: auto;border: 3px solid #FF9800;}.text-3{line-height: 30px;}.title-3{margin: 1em 0 1em 0;}.title-3, .title-5 {color: #FF9800;font-family: 'Roboto', sans-serif;display: inline-block;font-size: 22px;line-height: 1.4em;font-weight: 400;}.title-5{margin-bottom:80px;}
.bold-link{font-weight: bold;text-decoration: underline!important;color:white!important;} .bold-link a:hover{color: #FF9800!important;}
/* bloc-4 */.text-4{font-weight: 500; font-size: 20px;padding-bottom: 2em;display: inline-block;}.box-4{max-width: 310px;padding:1em;cursor: default;}.box-row-4{margin-bottom:2em;display: inline-block;margin: auto;height: auto;line-height: 25px;}

/* bloc-5 */#bloc-5{z-index: 2;}.text-5{padding-bottom: 2em;}.box-5{padding:100px 50px;background-color: #44444481;width: 100%;}
/* bloc-6 */#bloc-6{padding-top:40px!important;padding-bottom:50px!important;color:#000000;background-color: #FF9800!important;line-height: 2em!important;}.text-box-6 {display:flexbox;max-width:400px;margin:auto;font-weight: 400;line-height: 2.5em;}
/* bloc-7 */#bloc-7 label{font-weight: 400;}.box-7{display: block; margin: auto;}#bloc-7{padding-top:70px!important;}.form-control{border: #000000 1px solid !important;}.form-control:focus{border:#FF9800 1px solid!important;}.form-group-7{padding-bottom:2em;}

/* bloc-8 */#bloc-8{color:#2f2f2f;vertical-align: middle;padding:2em;position: relative;background-color:#FF9800!important;bottom:0px}.follow-contact{color:#000000!important;}#adress-8{text-align:center;text-transform: uppercase;font-weight: 500;}.submit{width: 50%;}
/* footer */footer{background-color:#444444;}.follow{margin: 3.5em auto auto auto;color:white;font-size: 20px;}.social svg{margin-top: 2em;z-index:1!important;fill:white!important;color:white;font-size: 23px;}.icon-9 svg{background-color: #5c5c5c;border-radius: 25px;border: 7px solid #5c5c5c;}.social{display:flex;flex-direction:row;}.icon-9 svg:hover{background-color: #0063B1 !important;border: 7px solid #0063B1;}.icon-md{color:white!important;}.partner{margin:3em auto 3em auto!important;font-size: 15px;padding: 10px;}.partner ul li a{color:white !important;}.partner ul li {padding: 5px;}#partner{display: block;color:white!important;font-size:18px!important;padding: 20px;}.icon-md{font-size: 30px!important;}.icon-lg{font-size: 60px!important;}
.site-navigation a:hover {color: #FF9800;border-bottom: 3px solid #FF9800 !important;} .site-navigation a {border-bottom: 3px solid transparent!important;font-size: 18px !important;margin-right: 10px;} 
.navbar-toggle{background:rgba(255, 255, 255, 1);}.navbar-toggle .icon-bar{color:rgba(0, 0, 0, .6);}.navbar{margin-bottom: 0;z-index: 1;}.navbar-brand{height: auto;padding: 3px 15px;font-size: 25px;font-weight: normal;font-weight: 400;line-height: 44px;}.navbar-brand img {max-height: 200px;margin: 0 5px 0 0;display: inline;}.navbar-brand img[src$=svg]{min-width: 100px;}.nav-center .navbar-brand img {margin: 0;}.navbar .nav{padding-top: 2px;margin-right: -16px;float: right;z-index: 1;}.nav > li{float: left;margin-top: 4px;font-size: 16px;}.navbar-nav .open .dropdown-menu > li > a{text-align: inherit;}.nav > li a:hover,.nav > li a:focus{background: transparent;}.navbar-toggle{margin: 10px 10px 0 0;border: 0px;}.navbar-toggle:hover{background: transparent!important;}.navbar-toggle .icon-bar {background-color: rgba(0, 0, 0, .5);width: 26px;}.nav-invert .navbar.nav {float: left;}.nav-invert .navbar-header,.nav-invert .navbar-brand {float: right;position: relative;z-index: 2;}

@media (min-width: 768px) {
    .site-navigation {position: absolute;top: 50%;right: 20px;transform: translate(0, -50%);-webkit-transform: translateY(-50%);}
    .nav > li .dropdown-menu a,
    .nav > li .dropdown-menu a:hover {color: #000000;}
    .nav-invert .site-navigation {left: 0;right: 0;}

    .nav-center .navbar-header {width: 100%;}
    .navbar-header,
    .navbar-brand,
    .nav-center .nav > li {float: none;display: inline-block;}
    .nav-center .site-navigation {position: relative;width: 100%;right: 0;margin-right: 0px;margin-top: 20px;}
    .nav-center.mini-nav .navbar-toggle {float: none;margin: 10px auto 0;}
}

.nav > li > .dropdown a {background: none!important;display: block;padding: 14px 15px;}
nav .caret {margin: 0 5px;}
.dropdown-menu .dropdown-menu {top: -8px;left: 100%;}
.dropdown-menu .dropmenu-flow-right {top: 100%;left: 0;margin-left: -1px;border-top-left-radius: 0;border-top-right-radius: 0;}
.dropdown-menu .dropdown span {border: 4px solid black;border-top-color: transparent;border-right-color: transparent;border-bottom-color: transparent;margin: 6px -5px 0 0!important;float: right;}
.sm-shadow {text-shadow: 0 1px 2px rgba(0, 0, 0, .3);}
.form-control {border-color: rgb(128, 128, 128);box-shadow: none;}


p {font-size: 16px;font-weight: 400;}
.cta-hero {margin-top: 50px;color: black!important;text-transform: uppercase;padding: 12px 28px 12px 28px;font-size: 16px;font-weight: 500;}.cta-hero:hover {color: white!important;}
h1 {font-size:32px;font-family: 'Roboto', sans-serif;}
h2 {font-weight: 400;}
h3 {font-size: 17px;text-transform: uppercase;font-weight: bold 400;}
h4 {font-weight: 400;font-size: 16px;}
h5 {font-size: 15px;}
.social {max-width: 400px;margin: auto auto auto auto;text-align: center;}
.icons {margin-bottom: 14px;margin-top: 24px;}
.portfolio-thumb {margin-bottom: 24px;}
.portfolio-row {margin-bottom: 44px;margin-top: 50px;}
.bg-repeat{-webkit-background-size:auto!important;-moz-background-size:auto!important;-o-background-size:auto!important;background-size:auto!important;}.bg-repeat{background:repeat;}.bloc-bg-texture::before{content:"";position:absolute;top:0;bottom:0;left:0;right: 0;z-index: -1;}
.tpp::before{background-color:#44444455;background-size: 100px;clear: both;}.b-parallax{background-attachment:fixed;}
.bg-pst{background-image: url("../img/pst.webp");background-size: cover;z-index: -5;width: 100%;}.bg-ban{background-image: url("../img/ban.webp");background-size: cover;z-index: -5;width: 100%}

@media (max-width: 992px) and (min-width: 768px) {
    .navbar .nav {
        max-width: 80%
    }
    .nav-center.navbar .nav {
        max-width: 100%
    }
}

@media (max-width: 767px) {
    .b-parallax {
        background-attachment: scroll !important;
    }
    .navbar .nav {
        border-top: 1px solid rgba(0, 0, 0, .2);float: none!important;}

    .nav > li {
        margin-top: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        background: rgba(0, 0, 0, .05);
        text-align: left;
        padding-left: 15px;
        width: 100%;
    }
    .nav > li:hover {
        background: rgba(0, 0, 0, .08);
    }
    .dropdown .dropdown a .caret {
        float: none;
        margin: 5px 0 0 10px!important;
        border: 4px solid black;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }
    #hero-bloc .navbar .nav {
        background: rgba(0, 0, 0, .8);
    }
    #hero-bloc .navbar .nav a {
        color: rgba(255, 255, 255, .6);
    }
    .navbar-collapse {
        padding: 0;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-brand img {
        max-height: 40px;
        width: auto;
    }
    .nav-invert .navbar-header {
        float: none;
        width: 100%;
    }
    .nav-invert .navbar-toggle {
        float: left;
        margin-left: 10px;
    }
    .bloc {
        padding-left: 0;
        padding-right: 0;
    }
    form {padding: 10px;}

    .text-box-2 {
        flex-direction: column;
        width: 65%;
    }
    .box-2{
        padding-bottom: 3em;
    }
    .space-comments{padding-bottom: 1em;padding-top: 0em;}
    .box-row-4 {
        display: inline-flex;
    }
    #bloc-8{
        position: relative;
    }
    .box-3 {
        width: 100%;
        padding: 30px;
    }

    .social {
        flex-direction: row;
        justify-content: space-evenly;
    }
}
@media (max-width: 600px) {
    .box-3 {
        padding: 20px !important;
    }

    .box-row-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
@media (max-width: 1024px) {

    #bloc-7{
        padding: 40px!important;
    }
}

@media (max-width: 376px) {
    .cta-hero{
        padding: 10px;
    }
}



