* {
    margin: 0;
    padding: 0;
}
/* Polices et icons */
@font-face {
    font-family: et-line;
    src: url(../fonts/et-line.eot);
    src: url(../fonts/et-line.woff) format('woff'), url(../fonts/et-line.eot?#iefix) format('embedded-opentype'), url(../fonts/et-line.ttf) format('truetype'), url(../fonts/et-line.svg#et-line) format('svg');
    font-weight: 400;
    font-style: normal;
}
.et-icon-presentation,
.et-icon-edit,
.et-icon-browser {
    font-family: et-line;
    speak: none;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
}
.et-icon-browser:before {
    content: "\e00c"
}
.et-icon-presentation:before {
    content: "\e00e"
}
.et-icon-edit:before {
    content: "\e01c"
}

.icon-md {
    font-size: 30px!important;
}

.icon-lg {
    font-size: 60px!important;
}

.sm-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

/* h1,h2,h3,h4 */

h2 {
    font-size: 22px;
    line-height: 1.4em;
    color: #333333!important;
}

h3 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #333333!important;
}

h4 {
    font-size: 13px;
}

/* liens et boutons */
.list-footer a {
    color: grey !important;
}
.about-contact {
    color: #FFF;
    font-weight: bold;
    font-size: 15px;
}
.about-contact:hover {
    background-color: rgba(255, 255, 255, 0.527);
    color: #F3976C;
    text-decoration: underline;
}
a,
button {
    transition: all .3s ease-in-out;
    outline: none!important;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.button {
    background-color: #F3976C;
    border-radius: 40px;
    padding: 1em 2em!important;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.button:hover {
    background-color: #c27956!important;
    color: #FFF;
}


body {
    background: #FFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "helvetica";
    font-weight: 400;
}

div {
    clear: both;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}


/* Navigation */
.container .navigation-top {
}

.navbar {
    line-height: 4em;
}

.logo-img {
    width: 200px;
    font-size: 100px;
    text-align: left;
    margin: 0 100px 0 0;
}

.navbar-collapse { 
    text-align: right;
    margin: auto 0px auto 0 !important;
}

/* Bloc-1 */
.presentation {
    text-align: center;
    margin: 10em auto 10em auto;
}
.logo-presentation {
    width: 100px;
    margin: auto;
    padding-bottom: 1em;
}
.title-presentation {
    padding-bottom: 1em;
    color: #F3976C !important;
    font: 32px 'Helvetica', sans-serif !important;
}

/* Bloc-2 */
.bloc-2-services {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
}
.text-services {
    margin: 2em auto 2em auto;
    padding: 0px 3em 0px 3em;
}
.articles-services {
    margin: 4em auto 3em auto;
}
.icons-services {
    color: #364577;
    margin-bottom: 20px;
}

/* Bloc 3 */

.about-container {
    padding: 3em 0 3em 0;
    width: 60%;
}
.about-what-i-do {
    text-align: center;
}

.about-presentation {
    color: #F3976C !important;
    margin-bottom: 1em;
}

.about-more {
    color: #FFF;
}


/* Bloc 4 */
.portfolio-element {
    margin: auto;
}

.realisation-portfolio {
    margin: 0 0 2em 0;
}

.portfolio-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 2em;
}

.img-responsive {
    width: 100%;
}

.portoflio-box {
    clear: both;
    max-width: 100%;
    padding: 2em;
}

.portfolio {
    text-align: center !important;
    width: 55%;
    height: auto;
    margin: 5em auto 5em auto;
}

/* Bloc 5 */

.bloc-5 {
    text-align: center;
    padding: 10em;
}
.bloc-5-box {
    color: #FFF !important;
    margin: 2em;
}


.bg-t-edge {
    background: top no-repeat;
}

.bloc-bg-texture::before {
    content: "";
    background-size: 2px 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.texture-paper::before {
    background: url("img/texture-paper.png");
    background-size: 280px 280px;
}

.b-parallax {
    background-attachment: fixed;
}



.icon-md {
    font-size: 30px!important;
}

.icon-lg {
    font-size: 60px!important;
}

.sm-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.panel-sq,
.panel-sq .panel-heading,
.panel-sq .panel-footer {
    border-radius: 0;
}

.panel-rd {
    border-radius: 30px;
}

.panel-rd .panel-heading {
    border-radius: 29px 29px 0 0;
}

.panel-rd .panel-footer {
    border-radius: 0 0 29px 29px;
}

.form-control {
    border-color: rgba(0, 0, 0, .1);
    box-shadow: none;
}

.scrollToTop {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    z-index: 500;
    transition: all .3s ease-in-out;
}

.scrollToTop span {
    margin-top: 6px;
}

.showScrollTop {
    font-size: 14px;
    opacity: 1;
}

a[data-lightbox] {
    position: relative;
    display: flex;
    text-align: center;
}

a[data-lightbox]:hover::before {
    content: "+";
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
    font-size: 32px;
    width: 1.5em;
    height: 1.5em;
    margin: auto 40%;
    border-radius: 50%;
    background: rgba(0, 0, 0, .6);
    color: #FFF;
    font-weight: 100;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

a[data-lightbox]:hover img {
    opacity: 0.6;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
}

#lightbox-modal {
    display: flex;
    align-items: center;
}

#lightbox-modal .modal-dialog {
    width: 90%;
    max-width: 900px;
    margin: 0 auto 0;
}

#lightbox-modal .modal-dialog img {
    max-height: 90vh;
    margin: 0 auto;
}

.next-lightbox {
    padding: 6px 8px 1px 13px;
    right: 25px;
}

.prev-lightbox {
    padding: 6px 13px 1px 10px;
    left: 25px;
}

.snapshot-lb .modal-body {
    padding-bottom: 45px;
}

.snapshot-lb .lightbox-caption {
    padding: 0;
    color: rgba(0, 0, 0, .5);
    background: none;
}



/* Footer */
footer {
    margin-bottom: 0;
}

.footer-name {
    text-align: center;
    padding: 3em;
}
.icons-footer {
    margin: 3em 0 3em 0;

}
.social {
    color: #FFF !important;
}

.list-footer li {
    list-style: none;
}


/* Contact.html */

/* Bloc-6 */
.talk-web {
    text-align: center;
    color: white;
}

/* Bloc-7 */
.formulaire input {
    border: 1px solid grey;
}

#message {
    border: 1px solid #c27956;
}
.mail-contact {
    padding: 3em;
}

/* Background */


.container {
    max-width: 1000px;
}

.hero-bloc-text {
    font-size: 38px;
}

.hero-bloc-text-sub {
    font-size: 36px;
}

.statement-bloc-text {
    line-height: 26px;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    max-width: 520px;
    margin: auto auto auto auto;
}

p {
    font-size: 11px;
}

.black-background {
    background-color: rgba(165, 147, 99, 0.7);
    padding: 40px 40px 40px 40px;
}


.bgc-atomic-tangerine {
    background-color: #F3976C;
}

.tc-white {
    color: #F3976C!important;
}

.ltc-atomic-tangerine {
    background: #F3976C;
    color: #FFFFFF!important;
}

.btn-atomic-tangerine:hover,
.ltc-white:hover {
    background: #c27956!important;
    color: #FFFFFF!important;
}

.ltc-atomic-tangerine:hover {
    color: #c27956!important;
}

.bg-lines-h2-bg {
    background-image: url("img/lines-h2-bg.png");
}

.bg-banniere {
    background-image: url("img/la-chouette-agence-banniere.jpg");
}

.bg-presentation {
    background-image: url("img/image-de-presentation.jpg");
}


.bg-lines-h2-bg,
.bg-banniere,
.bg-presentation {
    background-size: cover;
}

/* Media queries */
@media (max-width: 992px) and (min-width: 768px) {


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .b-parallax {
        background-attachment: scroll;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .b-parallax {
        background-attachment: scroll;
    }
}

@media (max-width: 991px) {

    .b-parallax {
        background-attachment: scroll;
    }
    #hero-bloc {
        overflow-x: hidden;
        position: relative;
    }
   
    .bloc-group,
    .bloc-group .bloc {
        display: block;
        width: 100%;
    }

}

@media (max-width: 767px) {
   
    .b-parallax {
        background-attachment: scroll;
    }

    #hero-bloc {
        background: rgba(0, 0, 0, .8);
    }

    .hero {
        padding: 50px 0;
    }
    

    form {
        padding: 5px;
    }
    .close-lightbox {
        display: inline-block;
    }
    .blocsapp-device-iphone5 {
        background-size: 216px 425px;
        padding-top: 60px;
        width: 216px;
        height: 425px;
    }
    .blocsapp-device-iphone5 img {
        width: 180px;
        height: 320px;
    }
}
